<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Tableau | EnSciences</title>
  <link rel="icon" href="<%= require('../assets/images/logo.svg') %>" type="image/png" sizes="16x16" />
</head>

<body id="main">

  <!-- Message en plein écran si la fenêtre est trop petite -->

  <div id="fullscreenMessage">
    <div id="spinner">
      <p style="font-size:24px; font-weight:500; color:#777;">
      <p style="font-size:100px; color:#777"><i class="fa-solid fa-circle-exclamation"></i></p>

      Tableau n'est pas adapté aux écrans ayant une largeur inférieure à 820px !
      </p>
      <button id="forceResolution" class="btn btn-success mb-2">Afficher quand même&nbsp;<i
          class="fa-solid fa-arrow-right"></i></button><br>
      <a href="https://ensciences.fr" class="btn btn-primary"><i class="fa-solid fa-arrow-left"></i>&nbsp;Revenir sur
        EnSciences</a>
    </div>
  </div>

  <!-- Gestion de la barre d'outils -->

  <div class="container-fluid toolbar" id="toolbar">
    <div class="inner-scroll-wrap" id="inner-scroll-wrap">
      <span id="options" data-bs-toggle="popover" data-bs-trigger="hover" data-bs-content="Options">
        <button class="toolButton" data-bs-toggle="offcanvas" data-bs-target="#sidebar"
          aria-controls="offcanvasExample"><span class="fa-stack fa-2x mt-2 mb-2">
            <i class="fa fa-circle fa-stack-2x" style="color:#F25262"></i>
            <i class="fa-solid fa-gear fa-stack-1x icon-white"></i>
          </span></button>
      </span>
    </div>
  </div>

  <!-- timer et date -->

  <div id="timer"></div>
  <div id="date"></div>

  <!-- Barre d'outils zoom et plein écran -->

  <div class="btn-group" role="group" id="screenToolGroup" aria-label="Basic example">
    <button id="toolBtn" class="btn btn-light" data-bs-toggle="offcanvas" data-bs-target="#sidebar"
    aria-controls="offcanvasExample"><i class="fa-solid fa-gear"></i></button>
    <button id="darkMode" class="btn btn-light"><i class="fa-solid fa-moon"></i></button>
    <button id="fullscreen" class="btn btn-light"><i class="fa-solid fa-expand"></i></button>
    <button id="zoomOut" class="btn btn-light"><i class="fa-solid fa-magnifying-glass-minus"></i></button>
    <button id="zoomIn" class="btn btn-light"><i class="fa-solid fa-magnifying-glass-plus"></i></button>
  </div>

  <!-- Barre latérale d'options -->

  <div class="offcanvas offcanvas-end" tabindex="-1" id="sidebar" aria-labelledby="offcanvasExampleLabel">

    <div class="offcanvas-header pb-0">
      <h3 class="offcanvas-title">Options</h3>
      <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      <h5>Choix du fond d'écran</h5>

      <div class="container d-flex justify-content-center">
        <span class="changeBackground p-1" data-bg="norepeat-satellite"><img
            src="<%= require('../assets/images/satelliteBg.png') %>"
            style="border-radius: 20px; width: 45px; height:45px; border: 1px solid rgb(221, 221, 221);"></span>

        <span class="changeBackground p-1" data-bg="repeat-quadrillage"><img
            src="<%= require('../assets/images/quadrillage.png') %>"
            style="border-radius: 20px; width: 45px; height:45px; border: 1px solid rgb(221, 221, 221);"></span>

        <span class="changeBackground p-1" data-bg="repeat-points"><img
            src="<%= require('../assets/images/points.png') %>"
            style="border-radius: 20px; width: 45px; height:45px; border: 1px solid rgb(221, 221, 221);"></span>

        <span class="changeBackground p-1" data-bg="repeat-lignes"><img
            src="<%= require('../assets/images/lignes.png') %>"
            style="border-radius: 20px; width: 45px; height:45px; border: 1px solid rgb(221, 221, 221);"></span>

        <span class="changeBackground p-1" data-bg="color-#68a3d7">
          <span
            style="display: block; border-radius: 20px; width: 45px; height:45px; border: 1px solid rgb(221, 221, 221);background-color:#68a3d7"></span></span>

        <span class="changeBackground p-1" data-bg="color-#e28d87">
          <span
            style="display: block; border-radius: 20px; width: 45px; height:45px; border: 1px solid rgb(221, 221, 221);background-color:#e28d87"></span></span>

        <!-- Color picker -->
        <span class="changeBackgroundColorPicker p-1">
          <input type="color" id="colorPicker"/>
          <span
          id="colorPickerCover"></span>
          <i class="fa-solid fa-palette" id="colorPickerIcon"></i>
        </span>

      </div>

      <!-- Background image -->
      <div class="container m-0 p-0 mt-2">
          <label for="backgroundImageInput" class="form-label">Choisir une image de fond :</label>
          <input type="file" class="form-control form-control-sm" id="backgroundImageInput" accept="image/*">

      </div>

      <h5 class="mt-4">Choix des applications </h5>

      <div class="container" id="appList">
      </div>

      <h5 class="mt-4">Paramètres</h5>
      <div class="container" id="appOptions">
      </div>

      <h5 class="mt-4">Crédits</h5>
      <div class="container" style="text-align:center">

        <span><a href="https://ensciences.fr"><img src="<%= require('../assets/images/logo.svg') %>"
              style="width:44px;height:44px;margin-bottom:10px;margin-right:6px"></a></span>

              <span><a href="https://framagit.org/ThibGiauffret/tableau"  style="font-size:11px;"><span class="fa-stack fa-2x" style="margin-bottom:10px;">
                <i class="fa fa-circle fa-stack-2x" style="color:#fb8048"></i>
                <i class="fa-brands fa-gitlab
                fa-stack-1x icon-white"></i>
  
              </span></a></span>

        <span><a href="https://ensciences.fr/contact.php" style="font-size:12px;">

            <span class="fa-stack fa-2x" style="margin-bottom:10px;">
              <i class="fa fa-circle fa-stack-2x" style="color:#666"></i>
              <i class="fa-solid fa-envelope fa-stack-1x icon-white"></i>

            </span>
          </a></span>

        <br>
        Th. G (2022-2024)<br>
        Propulsé par <a href="https://ensciences.fr">ensciences.fr</a><br>Code source mis à disposition selon les termes de la licence <a
          href="https://framagit.org/ThibGiauffret/tableau/-/blob/main/LICENSE?ref_type=heads">GNU GPL v3</a>
      </div>

      <p id="listeCredits">Pour réaliser cette application, les librairies et modules suivants ont été utilisés :
      <ul>
        <li><a href="https://viewerjs.org" target="_blank" rel="noopener"><i
              class="fa-solid fa-arrow-up-right-from-square"></i>&nbsp;ViewerJS</a></li>
        <li><a href="https://github.com/soldair/node-qrcode" target="_blank" rel="noopener"><i
              class="fa-solid fa-arrow-up-right-from-square"></i>&nbsp;qrcode</a></li>
        <li><a href="https://p5js.org/" target="_blank" rel="noopener"><i
              class="fa-solid fa-arrow-up-right-from-square"></i>&nbsp;p5js</a></li>
        <li><a href="https://summernote.org/" target="_blank" rel="noopener"><i
              class="fa-solid fa-arrow-up-right-from-square"></i>&nbsp;summernote</a></li>
        <li><a href="https://github.com/excalidraw/excalidraw" target="_blank" rel="noopener"><i
              class="fa-solid fa-arrow-up-right-from-square"></i>&nbsp;excalidraw</a></li>
        <li><a href="https://www.mathjax.org/" target="_blank" rel="noopener"><i
              class="fa-solid fa-arrow-up-right-from-square"></i>&nbsp;MathJax</a></li>
        <li><a href="https://github.com/ipb-halle/MolPaintJS" target="_blank" rel="noopener"><i
              class="fa-solid fa-arrow-up-right-from-square"></i>&nbsp;MolPaintJS</a></li>
        <li><a href="https://github.com/jgraph/drawio" target="_blank" rel="noopener"><i
              class="fa-solid fa-arrow-up-right-from-square"></i>&nbsp;drawio</a></li>
        <li><a href="https://www.numworks.com/fr/simulateur/" target="_blank" rel="noopener"><i
              class="fa-solid fa-arrow-up-right-from-square"></i>&nbsp;NumWorks</a></li>
        <li><a href="https://basthon.fr/" target="_blank" rel="noopener"><i
              class="fa-solid fa-arrow-up-right-from-square"></i>&nbsp;Basthon</a></li>
        <li><a href="https://getbootstrap.com/docs/5.0/getting-started/introduction/" target="_blank" rel="noopener"><i
              class="fa-solid fa-arrow-up-right-from-square"></i>&nbsp;Bootstrap 5</a></li>
        <li><a href="https://github.com/furf/jquery-ui-touch-punch" target="_blank" rel="noopener"><i
              class="fa-solid fa-arrow-up-right-from-square"></i>&nbsp;jQuery UI Touch Punch</a></li>
      </ul>
      Certaines idées et ressources (images ou sons) proviennent de <a href="https://ladigitale.dev/" target="_blank" rel="noopener">La
        Digitale</a> d'Emmanuel Zimmert.
      </p>
    </div>
  </div>


  <div id="page-preloader">
    <div id="spinner">
      <p style="font-size:20px; font-weight:500; color:#777;">
        <img src="<%= require('../assets/images/logo.svg') %>" style="width:100px;height:100px; margin-bottom:50px"><br>

        Chargement du tableau interactif...<br><br>
        <span class=" spinner-border" role="status" style=" width: 3rem;
  height: 3rem;">
          <span class="sr-only">Loading...</span>
        </span>
      </p>
    </div>
  </div>

</body>

</html>