#main {
    /* Make main div fill page height */
    height: calc(100% - 10px);
    width: 100%;
  }

  #pills-tabContent {
    /* Make iframe fill remaining height */
    height: calc(100% - 65px);
    width: 100%;
  }

  #pills-numworks {
    /* Make iframe fill remaining height */
    height: 100%;
    width: 100%;
  }

  #pills-ti83 {
    /* Make iframe fill remaining height */
    height: 100%;
    width: 100%;
  }

  #numworksdiv {
    /* border: 1px solid rgb(201, 0, 1); */
    display: block;
    margin: auto;
    width: 100%;
    height: 100%;
  }

  #nws-1 {
    width: 100% !important;
    height: 100% !important
  }

  #ti83div {
    display: block;
    overflow: hidden;
    margin: auto;
    width: 100%;
    height: 100%;
  }

  #ti83frame {
    display: block;
    margin-top: -135px;
    width: 100%;
    height: calc(100% + 135px);
    border: 0px none;
    overflow: hidden;
  }

  /* On vw < 395px */
  @media (max-width: 395px) {
    #ti83frame {
      margin-top: -190px;
      height: calc(100% + 190px);
    }
  }


  /* #ti83frame {
      -ms-zoom: 0.75;
      -moz-transform: scale(1.25);
      -moz-transform-origin: 0 0;
      -o-transform: scale(1.25);
      -o-transform-origin: 0 0;
      -webkit-transform: scale(1.25);
      -webkit-transform-origin: 0 0;
    } */

  #message {
    position: fixed;
    margin-left: 10px;
    margin-right: 10px;
    width: calc(100% - 20px);
    bottom: 5px;
  }