/* Background handling */
body {
  background: url("../assets/images/satelliteBg.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
}

/* Change .btn-light on dark mode */
[data-bs-theme=dark] .btn-light {
  background-color: var(--bs-dark-bg-subtle);
  color: var(--bs-light);
  border: 1px solid var(--bs-dark-bg-subtle);
}

/* Fullscreen message (when device screen is too small) */
#fullscreenMessage {
  display: none;
  position: fixed;
  left: 0;
  top: 0px;
  right: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 100;
}

[data-bs-theme=dark] #fullscreenMessage {
  background-color: var(--bs-dark);
}

/* Toolbar */
.toolbar {
  display: block;
  position: absolute;
  height: 90vh;
  width: 102px !important;
  margin-top: 5vh;
  margin-bottom: 5vh;
  top: 0;
  left: 20px;
  padding: 0 !important;
  border: 1px solid #777;
  border-radius: 10px 10px 10px 10px;
  background-color: var(--bs-light);
  -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.16),
    0 2px 6px rgba(0, 0, 0, 0.23);
  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.16), 0 2px 6px rgba(0, 0, 0, 0.23);
  /* Firefox 3.5 - 3.6 */
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.16), 0 2px 6px rgba(0, 0, 0, 0.23);
  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
  transition: 0.3s;
  z-index: 1;
  transform: scaleX(-1);
}

[data-bs-theme=dark] .toolbar {
  background-color: var(--bs-dark);
}

.inner-scroll-wrap {
  z-index: 2;
  padding: 10px;
  padding-bottom: 30px;
  transform: scaleX(-1);
}

#scrollToolbar:hover>.nicescroll-cursors {
  background-color: #CCC !important;
}

.toolButton {
  position: relative;
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}


#scrollBottom {
  z-index: 2;
  position: absolute;
  bottom: 0;
  left: 45px;
}

#scrollTop {
  z-index: 2;
  position: absolute;
  top: 0;
  left: 45px;
}

/* Timer and date */
#timer {
  position: absolute;
  top: 50px;
  right: 50px;
  color: #ccc;
  font-size: 60px;
  font-weight: 700;
  letter-spacing: 3px;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                supported by Chrome, Edge, Opera and Firefox */
}

#date {
  position: absolute;
  top: 125px;
  right: 50px;
  color: #ccc;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 3px;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                supported by Chrome, Edge, Opera and Firefox */
}

/* Tools and parameters */
#screenToolGroup {
  position: fixed;
  bottom: 20px;
  right: 20px;
}


@-webkit-keyframes right-to-left {
  from {
    right: -400px;
  }

  to {
    right: 0px;
  }
}

@-webkit-keyframes left-to-right {
  from {
    right: 0px;
  }

  to {
    right: -400px;
  }
}

#listeCredits {
  text-align: left;
  margin-top: 20px;
}

#listeCredits ul {
  list-style-type: none !important;
  padding: 0;
  margin: 0;
}

#listeCredits ul,
#listeCredits li {
  margin: 0;
  padding: 0;
}

.icon-white {
  color: white;
}

/* Preloader */
.loading {
  z-index: 3;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -20px;
  margin-left: -20px;
}

#spinner {
  width: 250px;
  height: 150px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -125px;
  margin-top: -150px;
  text-align: center;
}

#page-preloader {
  position: fixed;
  left: 0;
  top: 0px;
  right: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 101;
}

[data-bs-theme=dark] #page-preloader {
  background-color: var(--bs-dark);
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

/* Windows */
.draggableModal {
  position: fixed;
  left: 150px;
  top: 50px;
  overflow: hidden;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
  border-radius: 10px 10px 10px 10px !important;
  background-color: #fff;
  border: 1px solid #fff;
  width: 500px;
  height: 400px;
  resize: both;
}

[data-bs-theme=dark] .draggableModal {
  background-color: var(--bs-dark);
}

.draggableModal .modal-content {
  overflow: hidden;
  border-radius: 10px 10px 10px 10px !important;
  height: 100%;
  width: 100%;
}

.draggableModal .modal-body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0;
}

.draggableModal .modal-header {
  border-bottom: 0px;
  padding: 0px;
  border-radius: 10px 10px 0px 0px !important;
}

.draggableModal .modal-header h3 {
  font-size: 18px;
}

.draggableModal .closeBtn {
  opacity: 1;
  width: 30px;
  height: 30px;
  color: #fff;
  text-align: center !important;
  padding: 0px !important;
  /* Rounded */
  border-radius: 50%;
}

.draggableModal .closeBtn:hover {
  background-color: var(--bs-red);
}

.draggableModal .hideBtn {
  opacity: 1;
  width: 30px;
  height: 30px;
  color: #fff;
  text-align: center !important;
  padding: 0px !important;
  /* Rounded */
  border-radius: 50%;
}

.draggableModal .hideBtn:hover {
  background-color: var(--bs-secondary);
}

.changeBackgroundColorPicker{
  position: relative;
}

#colorPicker {
  display: block;
  border-radius: 20px;
  width: 45px;
  height: 45px;
  opacity:0;
  z-index: 2;
}

#colorPickerCover {
  position: absolute;
  top: .25rem;
  left: .25rem;
  border-radius: 20px;
  width: 45px;
  height: 45px;
  background-color: red;
  z-index: 1;
  pointer-events: none;
}

#colorPickerIcon {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--bs-light);
  top: 0;
  left: 0;
  width: 45px;
  height: 45px;
  margin: .25rem;
  padding: 0 5px;
  pointer-events:none;
  z-index: 2;
}